core.symlinks=false
core.autocrlf=true
core.fscache=true
color.diff=auto
color.status=auto
color.branch=auto
color.interactive=true
help.format=html
rebase.autosquash=true
http.sslcainfo=C:/Program Files/Git/mingw64/ssl/certs/ca-bundle.crt
http.sslbackend=openssl
diff.astextplain.textconv=astextplain
filter.lfs.clean=git-lfs clean -- %f
filter.lfs.smudge=git-lfs smudge -- %f
filter.lfs.required=true
filter.lfs.process=git-lfs filter-process
credential.helper=manager
user.name=user_name
user.email=user_name@example.com
core.bare=false
core.safecrlr=true
core.ignorecase=true
core.quotepath=false
core.editor='C:/Program Files/Tools/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
alias.logg=log --graph --date=short --branches --pretty=format:'%C(yellow)%h%C(reset) %ad %an =>%C(75)% s%C(reset) %C(#00ff00)%d%C(reset)'
